.border-decoration{
    margin:auto;
    /*border-color: #007bff;*/
    /*border-style: ridge;*/
    border-radius: 31px;
    background: #ededed;
    box-shadow:  12px 12px 24px #cecece, 
             -12px -12px 24px #ffffff;
   
    padding: 15px;
    width: 75%;
    
}