.custom-card{
    box-shadow: 0px 1px 6px -1px #222222;
    border-radius: 10px;
    padding: 140px 0px;/*top bottom , left right*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    cursor: pointer;
    transition:all 0.6s ease;
    position: relative;
    background-color: white;
}
.custom-card:hover{/*pseudoelement*/
    opacity: 0.8;

}
.custom-card-banner{
            border-bottom-left-radius:10px ;
            border-bottom-right-radius: 10px;
            position: absolute;
            text-align:center;
            padding:3px 5px;/*vertical padding 10 px horizontal padding 5 px*/
            width:100%;
            color:white;
            bottom:0px;
            
}
a{
    text-decoration: none !important;
}
.card-blue .custom-card-banner{
          background-color: #2274a5;
}
.card-orange .custom-card-banner{
          background-color:#f97f27;
}
.card-brick .custom-card-banner{
    background-color:#bd824a;
}
.card-bluish .custom-card-banner{
    background-color:#3399db;
}
.card-yellow .custom-card-banner{
    background-color: #fee800;
}
.card-reddish .custom-card-banner{
    background-color: #8b392f;
}
.card-red-azure .custom-card-banner{
    background-color:#f16b60;
}
.card-dark-brown .custom-card-banner{
    background-color: #b4563a;
}
.card-dark-blue .custom-card-banner{
    background-color:#73a742;
}
.card-studentstudy .custom-card-banner{
    background-color: #ffb650;
}
.card-seola .custom-card-banner{
   background-color:#fec015
}
.card-silverish-black .custom-card-banner{
    background-color:#a8abb0;
}
.card-addsubject .custom-card-banner{
    background-color: #78dd68;
}
.card-deletesubject .custom-card-banner{
background-color:#ff8d8d;
}